# Analytics service
GRPC_ADDR=:50055

# PostgreSQL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/analytics_service?sslmode=disable

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_PREFIX=
KAFKA_READ_TIMEOUT=10s
KAFKA_COMMIT_PERIOD=1s
KAFKA_GROUP_ID=analytics-service
