# Auth service
GRPC_ADDR=:50051

# PostgreSQL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/auth_service?sslmode=disable

# JWT
JWT_SECRET=change-me-super-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h

# Security
BCRYPT_COST=12
